<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.solid.feature.ads"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="${admob_app_id}" />
    </application>

</manifest>